<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYdokmg1PVaiRiPgxQqmnnZyefGNTZ2DM</string>
	<key>GCM_SENDER_ID</key>
	<string>593891015650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.montraExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>montraexpense-aa953</string>
	<key>STORAGE_BUCKET</key>
	<string>montraexpense-aa953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593891015650:ios:6c6f329b3e95205cd297bb</string>
</dict>
</plist>